<a href="https://colab.research.google.com/github/Manisha868/Codesoft/blob/main/Task_1_Titanic_decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib_inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [ ]:
data=pd.read_csv('/content/tested.csv')

In [ ]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
data.shape

(418, 12)

In [ ]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
data['Age'].fillna(data['Age'].mean(),inplace=True)

In [ ]:
new_data=data.drop(['Name','PassengerId','Ticket','Cabin','Fare'],axis=1)

In [ ]:
new_data.replace({'Embarked':{'C':0, 'Q':1, 'S':2}},{'Sex':{'male':0, 'female':1}} ,inplace=True)

In [ ]:
new_data.replace({'Sex':{'male':0, 'female':1}} ,inplace=True)

In [ ]:
new_data.head(2)

   Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0         0       3    0  34.5      0      0         1
1         1       3    1  47.0      1      0         2

In [ ]:
Y = new_data['Survived']
X = new_data.drop(['Survived'],axis=1)

In [ ]:
print(X)

     Pclass  Sex       Age  SibSp  Parch  Embarked
0         3    0  34.50000      0      0         1
1         3    1  47.00000      1      0         2
2         2    0  62.00000      0      0         1
3         3    0  27.00000      0      0         2
4         3    1  22.00000      1      1         2
..      ...  ...       ...    ...    ...       ...
413       3    0  30.27259      0      0         2
414       1    1  39.00000      0      0         0
415       3    0  38.50000      0      0         2
416       3    0  30.27259      0      0         2
417       3    0  30.27259      1      1         0

[418 rows x 6 columns]

In [ ]:
print(Y)

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=0.25, stratify=Y)

In [ ]:
Y_train.value_counts(normalize=True)

0    0.635783
1    0.364217
Name: Survived, dtype: float64

In [ ]:
Y_test.value_counts(normalize=True)

0    0.638095
1    0.361905
Name: Survived, dtype: float64

In [ ]:
X_train.shape, Y_train.shape

((313, 6), (313,))

In [ ]:
Dec_model=DecisionTreeClassifier(random_state=10)

In [ ]:
Dec_model.fit(X_train, Y_train)

DecisionTreeClassifier(random_state=10)

In [ ]:
#check the testing accurarcy
Dec_model.score(X_train, Y_train)

1.0

In [ ]:
#check the testing set accuracy
Dec_model.score(X_test, Y_test)

1.0

In [ ]:
input_data=(2,    0,  62.00000,      0 ,     0   ,      1)
input_data_as_numpy_array= np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction= Dec_model.predict(input_data_reshaped)
print(prediction)

if(prediction[0]==0):
  print('passenger is not survived')
else:
  print("passenger is survived")

[0]
passenger is not survived

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(